- content_for :title, t('site.title')
= render 'shared/header_big', overlayer: true

/section#hero-home.hero-full.hero-knowmore
  /.w-container.u-text-center
    /.hero-home-words-content
      /.fontsize-megajumbo.u-marginbottom-60.fontweight-semibold
        /.w-new-tit
          /h1
            /| #Eu
            /span Apoio
            /| Gamers!
          /p 
            /| De Gamers para Gamers! Financiamento coletivo para 
            /span Jogos, E-sports, Criação de Conteúdo e Tecnologia!		

    /.w-row
      /.w-col.w-col-4.w-col-push-4
        /a.btn.btn-large.u-marginbottom-10.btn-home href="#{hello_path(ref: 'home_banner')}" Saiba mais

/section#projects
  /- if current_user && @projects_near.present?
    /article.section.u-marginbottom-40
      /.w-container
        /.w-row.u-marginbottom-30
          /.w-col.w-col-10.w-col-small-6.w-col-tiny-6
            /.fontsize-large.lineheight-looser
              /= t('.near_you')
          /.w-col.w-col-2.w-col-small-6.w-col-tiny-6
            /= link_to t('.see_all'), explore_path(ref: 'home_near', anchor: "near_of/" ) + current_user.address_state, class: 'btn btn-small btn-terciary'
        /.w-row
          /== render_projects @projects_near, 'home_near', { wrapper_class: 'w-col w-col-4' }

  /article.section.w-container
    /.w-row.u-marginbottom-30
      /.w-col.w-col-10.w-col-small-6.w-col-tiny-6
        /.fontsize-large.lineheight-looser
          /= t('.recommended')
      /.w-col.w-col-2.w-col-small-6.w-col-tiny-6
        /= link_to t('.see_all'), explore_path(ref: :home_recommended, anchor: :recommended), class: 'btn btn-small btn-terciary'
    /.w-row
      /== render_projects @recommends, 'home_recommended', { wrapper_class: 'w-col w-col-4' }

  /article.section.w-container
    /.w-row.u-marginbottom-30
      /.w-col.w-col-10.w-col-small-6.w-col-tiny-6
        /.fontsize-large.lineheight-looser
          /= t('.expiring')
      /.w-col.w-col-2.w-col-small-6.w-col-tiny-6
        /= link_to t('.see_all'), explore_path(ref: :home_expiring, anchor: :expiring), class: 'btn btn-small btn-terciary'
    /.w-row
      /== render_projects @expiring, 'home_expiring', { wrapper_class: 'w-col w-col-4' }

  /article.section.recent-projects.w-container
    /.w-row.u-marginbottom-30
      /.w-col.w-col-10.w-col-small-6.w-col-tiny-6
        /.fontsize-large.lineheight-looser
          /= t('.recents')
      /.w-col.w-col-2.w-col-small-6.w-col-tiny-6
        /= link_to t('.see_all'), explore_path(ref: :home_recent, anchor: :recent), class: 'btn btn-small btn-terciary'
    /.w-row
      /== render_projects @recent, 'home_recent', { wrapper_class: 'w-col w-col-4' }

/= render 'shared/footer_big'


-hero_project = @recommends.first
section#hero-home.hero-full.hero-knowmore style=("background-image: url(#{hero_project.display_image}) !important;display:block;") 
  article.section.transparent
    .card-banner
      .card-banner-description
        h1.fontweight-semibold.fontsize-base
          = link_to hero_project.name, project_path(hero_project), class: 'link-hidden'
        h2.fontweight-semibold.fontsize-base.u-marginbottom-10
          = hero_project.tags.map{|tag| tag.name}.join(', ')
        p
          = link_to hero_project.headline, project_path(hero_project), class: 'link-hidden'
        = link_to 'Quero apoiar', project_path(hero_project), class: 'btn btn-large btn-inline'
      .card-banner-info
        .card-p-stats
          .w-row
            .w-col.w-col-3.w-col-small-3.w-col-tiny-3.u-text-center-small-only.a-angels
              .fontsize-small.fontweight-bold.a-num= hero_project.total_contributions
              .fontsize-small.a-angel anjos
            .w-col.w-col-3.w-col-small-3.w-col-tiny-3.u-text-center-small-only.a-value
              .fontsize-small.fontweight-bold=hero_project.display_pledged
              .fontsize-small levantados
            .w-col.w-col-3.w-col-small-3.w-col-tiny-3.u-text-center-small-only.a-days

              - unless hero_project.expired?
                .fontsize-small.fontweight-bold
                  = "#{hero_project.time_to_go[:time]}  #{hero_project.time_to_go[:unit]}"
              .fontsize-small
              = t('projects.card.remaining', count: hero_project.time_to_go[:time])
            .w-col.w-col-3.w-col-small-3.w-col-tiny-3.u-text-center-small-only.a-meter

              .fontsize-small.fontweight-bold="#{hero_project.progress}%"
              .card-banner-meter.online
                .meter
                  = hero_project.progress_bar

section#offers.dark
  article.section.w-container.u-text-center.divider-2
    .w-row.u-marginbottom-30
      .w-col.w-col-4.w-col-small-4.w-col-tiny-4.right-divider
        = link_to (image_tag "GoAngels/realizadores-icon.png", class: 'u-marginbottom-10'), root_url(subdomain: 'www')
        .fontweight-semibold.fontsize-base.u-marginbottom-10.u-text-center-small-only.lineheight-tight
          | Para realizadores
        .fontsize-small.u-marginbottom-10.u-text-center-small-only.lineheight-tight
          | Comece sua campanha de Jogos, Geek, Tech ou Criação de conteúdo.
      .w-col.w-col-4.w-col-small-4.w-col-tiny-4.right-divider
        = link_to (image_tag "GoAngels/apoiadores-icon.png", class: 'u-marginbottom-10'), root_url(subdomain: 'www')
        .fontweight-semibold.fontsize-base.u-marginbottom-10.u-text-center-small-only.lineheight-tight
          | Para apoiadores
        .fontsize-small.u-marginbottom-10.u-text-center-small-only.lineheight-tight
          | Apoie campanhas e ganhe recompensas exclusivas, cupons de descontos e até jogos.
      .w-col.w-col-4.w-col-small-4.w-col-tiny-4
        = link_to (image_tag "GoAngels/empresas-icon.png", class: 'u-marginbottom-10'), root_url(subdomain: 'www')
        .fontweight-semibold.fontsize-base.u-marginbottom-10.u-text-center-small-only.lineheight-tight
          | Para empresas
        .fontsize-small.u-marginbottom-10.u-text-center-small-only.lineheight-tight
          | Tem um projeto inovador? Entre em contato conosco e vamos mostrar para galera.

/section#projects
  /article.section.w-container
    /.w-row.u-marginbottom-30
      /.w-col.w-col-10.w-col-small-6.w-col-tiny-6
        /.fontsize-large.lineheight-looser
          /= t('.recommended')
      /.w-col.w-col-2.w-col-small-6.w-col-tiny-6
        /= link_to t('.see_all'), explore_path(ref: :home_recommended, anchor: :recommended), class: 'btn btn-small btn-terciary'
    /.w-row
      /== render_projects @recommends, 'home_recommended', { wrapper_class: 'w-col w-col-6' }

  /.section-large.dark
    /.w-container
      /.w-row.u-marginbottom-30.u-text-center
        /.fontweight-semibold.fontsize-jumbo.u-marginbottom-20
          /| Comece hoje!
        /.fontsize-small.lineheight-tight
          /| Descubra novas campanhas de crowdfunding ou comece a sua própria campanha para receber o apoio da galera.
      /.w-col.w-col-12.u-text-center
        /a.btn.btn-medium.btn-inline.btn-home href="/pt/explore?ref=hello#recommended"  Explore campanhas
        /a.btn.btn-medium.btn-inline href="/pt/start?ref=hello"  Comece seu projeto


  /article.section.content-projects.w-container
    /.w-row.u-marginbottom-30
      /.w-col.w-col-10.w-col-small-6.w-col-tiny-6
        /.fontsize-large.lineheight-looser Criadores de conteúdo
      /.w-col.w-col-2.w-col-small-6.w-col-tiny-6
        /a.btn.btn-small.btn-terciary href="/pt/explore?ref=home_recent#recent"  Ver todos


    /.w-row
      /== render_projects @recurrents, 'home_recurrent', { wrapper_class: 'w-col w-col-6' }

.section-large.darkp.partners
  .w-container
    .w-row.u-marginbottom-30.u-text-center
      .fontweight-semibold.fontsize-jumbo.u-marginbottom-20
        | Nossos parceiros
      .fontsize-small.lineheight-tight
        | Empresas que confiam no nosso trabalho e oferecem benefícios para vocês.
    .w-col.w-col-12
      img alt=("Para realizadores") src="assets/GoAngels/nuuvem-logo.png" /
      img alt=("Para realizadores") src="assets/GoAngels/99gamers-logo.png" /

= render 'shared/footer_big'
