/.footer-full-signature-text.fontsize-small #{t('layouts.footer.titles.contact')}
a.link-footer href="#{embaixadores_path}" Embaixadores
a.link-footer href="#{CatarseSettings[:facebook_url]}"  #{t('layouts.footer.links.facebook')}
/a.link-footer href="#{CatarseSettings[:twitter_url]}"  #{t('layouts.footer.links.twitter')}

